.git
.github
.gitattributes
.gitignore
.editorconfig

.env
.env.*
!.env.example

node_modules
vendor

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore

tests
.phpunit.result.cache
phpunit.xml

docs
README.md

.claude
compose.yaml
docker-compose*.yml
Dockerfile
.dockerignore
